{% extends 'base.html' %}
{% load static %}
{% block title %} Biz haqimizda {% endblock title %}
{% block content %}
	<hr class="soften">
	<div>
		<h1>Biz haqimizda</h1>
	</div>
	<hr class="soften">
	<div class="row">
		<div class="span8">
		  <h6>
			Ushbu sayt kitonxonlarga va keng ommaga qulaylik yaratish maqsadida yaratilgan.  
		  </h6>
		  <p>
			Bu erdan siz o'zbek va jahon adabiyoti durdonalari, hamda, siz o'qimagan kitoblarni topishingiz mumkin.<br>
			<br>
			Taqdim etilayotgan kitoblar eng yaxshi nashriyotlarda chop etilgan bo'lib, sifati me'yoriy hujjatlar talablariga javob beradi.
			<br><br>
			10 tadan ortiq kitoblarni etkazib berish bepul amalga oshiriladi<br>
		  </p>
		</div>
		<div class="span4">
			Dushanba - Juma:<br/>
			09:00 - 18:00<br/>
			<br/>
			Sahanba:<br/>
			09:00 - 13:00<br/>
			<br/>
			Yakshanba:<br/>
			Dam olish kuni<br/>
		</div>
	</div>
{% endblock content %}