{% extends 'base.html' %}
{% block title %} Cart Detail {% endblock title %}
{% load cart_tag %}
{% block content %}
<!-- 
Body Section 
-->
	<div class="row">
	<div class="span12">
    <ul class="breadcrumb">
		<li><a href="{% url 'home' %}">Bosh sahifa</a> <span class="divider">/</span></li>
		<li class="active">Buyurtmani rasmiylashtirish</li>
    </ul>
	<div class="well well-small">
		<h1>Buyurtmani rasmiylashtirish <small class="pull-right"> 2 Items are in the cart </small></h1>
	<hr class="soften"/>	

	<table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Kitob</th>
                  <th>Ta'rif</th>
				  <th> Havola </th>
                  <th>Mavjudligi</th>
                  <th>Narxi</th>
                  <th>Miqdor </th>
                  <th>Jami</th>
				</tr>
              </thead>
              <tbody>
				{% for key,product in request.session.cart.items %}
                <tr>
                  <td><img width="100" src="{{ product.image }}" alt=""></td>
                  <td>{{ product.name }}<br>{{ product.avtor }}<br>Nashr : n/a</td>
                  <td> - </td>
                  <td><span class="shopBtn"><span class="icon-ok"></span></span> </td>
                  <td>{{ product.price }} сум </td>
                  <td>
					<input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text" value="{{ product.quantity }}">
				  <div class="input-append">
					<a class="btn btn-mini" type="button" href="{% url 'item_decrement' product.product_id %}">-</a>
					<a class="btn btn-mini" type="button" href="{% url 'item_increment' product.product_id %}">+</a>
					<a class="btn btn-mini btn-danger" type="button" href="{% url 'cart_clear' %}"><span class="icon-remove"></span></a>

					<!-- <button class="btn btn-mini" type="button">-</button><button class="btn btn-mini" type="button"> + </button><button class="btn btn-mini btn-danger" type="button"><span class="icon-remove"></span></button> -->
				</div>
				</td>
                  <td>{% widthratio product.price 1 product.quantity %} сум</td>
                </tr>
				{% endfor %}
				<!-- <tr>
                  <td><img width="100" src="assets/img/f.jpg" alt=""></td>
                  <td>Item names and brief details<br>Carate:24 <br>Model:HBK24</td>
                  <td> - </td>
                  <td><span class="shopBtn"><span class="icon-ok"></span></span> </td>
                  <td>$348.42</td>
                  <td>
				  <input class="span1" style="max-width:34px" placeholder="1" size="16" type="text">
				  <div class="input-append">
					<button class="btn btn-mini" type="button">-</button><button class="btn btn-mini" type="button">+</button><button class="btn btn-mini btn-danger" type="button"><span class="icon-remove"></span></button>
				</div>
				  </td>
                  <td>$348.42</td>
                </tr> -->
                <!-- <tr>
                  <td colspan="6" class="alignR">Total products:	</td>
                  <td> $448.42</td>
                </tr>
                 <tr>
                  <td colspan="6" class="alignR">Total products:	</td>
                  <td> $448.42</td>
                </tr>
				 <tr>
                  <td colspan="6" class="alignR">Total products:	</td>
                  <td> $448.42</td>
                </tr> -->
				 <tr>
                  <td colspan="6" class="alignR">Jami kitoblar:	</td>
                  <td class="label label-primary"> $448.42</td>
                </tr>
				</tbody>
            </table><br/>
		
		
            <!-- <table class="table table-bordered">
			<tbody>
				 <tr>
                  <td> 
				<form class="form-inline">
				  <label style="min-width:159px"> VOUCHERS Code: </label> 
				<input type="text" class="input-medium" placeholder="CODE">
				<button type="submit" class="shopBtn"> ADD</button>
				</form>
				</td>
                </tr>
				
			</tbody>
				</table>
			<table class="table table-bordered">
			<tbody>
                <tr><td>ESTIMATE YOUR SHIPPING & TAXES</td></tr>
                 <tr> 
				 <td>
					<form class="form-horizontal">
					  <div class="control-group">
						<label class="span2 control-label" for="inputEmail">Country</label>
						<div class="controls">
						  <input type="text" placeholder="Country">
						</div>
					  </div>
					  <div class="control-group">
						<label class="span2 control-label" for="inputPassword">Post Code/ Zipcode</label>
						<div class="controls">
						  <input type="password" placeholder="Password">
						</div>
					  </div>
					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="shopBtn">Click to check the price</button>
						</div>
					  </div>
					</form> 
				  </td>
				  </tr>
              </tbody>
            </table>		 -->
	<a href="{% url 'products_page' %}" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Xaridni davom ettirish </a>
	<a href="login.html" class="shopBtn btn-large pull-right">Next <span class="icon-arrow-right"></span></a>

</div>
</div>
</div>
{% endblock content %}