{% extends 'base.html' %}
{% load static %}
{% block title %} Aloqa {% endblock title %}
{% block content %}
<!-- 
Body Section 
-->
	<hr class="soften">
	<div class="well well-small">
	<h1>Tashrif buyuring</h1>
	<hr class="soften"/>	
	<div class="row-fluid">
		<div class="span8 relative">
		<iframe style="width:100%; height:350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Newbury+Street,+Boston,+MA,+United+States&amp;aq=1&amp;oq=NewBoston,+MA,+United+States&amp;sll=42.347238,-71.084011&amp;sspn=0.014099,0.033023&amp;ie=UTF8&amp;hq=Newbury+Street,+Boston,+MA,+United+States&amp;t=m&amp;ll=42.348994,-71.088248&amp;spn=0.001388,0.006276&amp;z=18&amp;iwloc=A&amp;output=embed"></iframe>

		<div class="absoluteBlk">
		<div class="well wellsmall">
		<h4>Aloqa</h4>
		<h5>
			<!-- 2601 Mission St.<br/> -->
			Sayt yaratish bo'yicha buyurtma berish<br/>
			 
			ssardor1983@gmail.com<br/>
			﻿Tel +998 97 719-91-83<br/>
			<!-- Fax 123-456-5679<br/>
			web:wwwmysitedomain.com -->
		</h5>
		</div>
		</div>
		</div>
		
		<div class="span4">
		<h4>Murojaat qiling:</h4>
		<form class="form-horizontal">
        <fieldset>
          <div class="control-group">
           
              <input type="text" placeholder="ism" class="input-xlarge"/>
           
          </div>
		   <div class="control-group">
           
              <input type="text" placeholder="email" class="input-xlarge"/>
           
          </div>
		   <div class="control-group">
           
              <input type="text" placeholder="mavzu" class="input-xlarge"/>
          
          </div>
          <div class="control-group">
              <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
           
          </div>

            <button class="shopBtn" type="submit">Email yuboring</button>

        </fieldset>
      </form>
		</div>
	</div>

	
</div>
{% endblock content %}
