{% extends 'base.html' %}
{% load static %}
{% block title %} Kirish {% endblock title %}
{% block content %}

<div class="row">
	<div id="sidebar" class="span3">
	<div class="well well-small">
		<ul class="nav nav-list">
			{% for j in janrlar %}
			<li {% if janr.slug == j.slug %} class="selected" {% endif %}>
				<a href="{{ j.get_absolute_url }}"><span class="icon-chevron-right"></span>{{ j.name }}</a>
			</li>
			{% endfor %}
	
			<li style="border:0"> &nbsp;</li>
			<li> <a class="totalInCart" href="{% url 'cart_detail' %}"><strong>Jami savatchada  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
		</ul>
	</div>

			  <div class="well well-small alert alert-warning cntr">
				  <h2>50% chegirma</h2>
				  <p> 
					 faqat online harid uchun. <br><br><a class="defaultBtn" href="#">Bu erga bosing </a>
				  </p>
			  </div>
			  <div class="well well-small" ><a href="#"><img src="{% static 'assets/img/paypal.jpg' %}" alt="payment method paypal"></a></div>
			
			<a class="shopBtn btn-block" href="{% url 'products_page' %}">Yangi kitoblar <br><small>Ko'rish uchun bosing</small></a>
			<br>
			<br>
			
	</div>
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>CREATE YOUR ACCOUNT</h5><br/>
			Enter your e-mail address to create an account.<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail">E-mail address</label>
				<div class="controls">
				  <input class="span3"  type="text" placeholder="Email">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Create Your Account</button>
			  </div>
			</form>
		</div>
		</div>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
			<h5>ALREADY REGISTERED ?</h5>
			<form method="post">
				{% csrf_token %}
				<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					{{ form_l.email }}
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					{{ form_l.password }}
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="defaultBtn">Sign in</button> <a href="#">Forget password?</a>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
{% endblock content %}