{% extends 'base.html' %}
{% load static %}
{% block title %} Kitoblar {% endblock title %}
{% block content %}

	<div class="row">
<div id="sidebar" class="span3">
<div class="well well-small">
	<ul class="nav nav-list">
		{% for j in janrlar %}
		<li {% if janr.slug == j.slug %} class="selected" {% endif %}>
			<a href="{{ j.get_absolute_url }}"><span class="icon-chevron-right"></span>{{ j.name }}</a>
		</li>
		{% endfor %}

		<li style="border:0"> &nbsp;</li>
		<li> <a class="totalInCart" href="{% url 'cart_detail' %}"><strong>Jami savatchada  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
	</ul>
</div>

			 <div class="well well-small alert alert-warning cntr">
				  <h2>50% chegirma</h2>
				  <p> 
					 faqat online harid uchun. <br><br><a class="defaultBtn" href="#">Bu erga bosing </a>
				  </p>
			  </div>
			  <div class="well well-small" ><a href="#"><img src="{% static 'assets/img/paypal.jpg' %}" alt="payment method paypal"></a></div>
			
			<a class="shopBtn btn-block" href="{% url 'products_page' %}">Yangi kitoblar <br><small>Ko'rish uchun bosing</small></a>
			<br>
			<br>
			<ul class="nav nav-list promowrapper">
			{% for product in products %}
				{% if product.id < 4 %}
					<li>
					<div class="thumbnail">
						<a class="zoomTool" href="{% url 'product_details' product.id %}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<img src="{{ product.image.url }}" alt="bootstrap ecommerce templates">
						<div class="caption">
						<h4><a class="defaultBtn" href="{% url 'product_details' product.id %}">VIEW</a> <span class="pull-right">{{ product.price }}</span></h4>
						</div>
					</div>
					</li>
					<li style="border:0"> &nbsp;</li>
				{% endif %}
			{% endfor %}
		  </ul>

	</div>
	<div class="span9">
<!-- 
New Products
-->
	<div class="well well-small" >
	<h3>Kitoblar </h3>
		<div class="row-fluid">
		  <ul class="thumbnails">
			  {% for product in products %}
				<li class="span4">
				<div class="thumbnail">
					<a href="{% url 'product_details' product.id %}" class="overlay"></a>
					<a class="zoomTool" href="{% url 'product_details' product.id %}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
					<a href="{% url 'product_details' product.id %}"><img src="{{ product.image.url }}" alt=""></a>
					<div class="caption cntr">
						<div class="kitobnomi">
						<p>{{ product.name }}</p>
						</div>
						<p><strong> {{ product.price }} сум</strong></p>
						<h4><a class="shopBtn" href="{% url 'cart_add' product.id %}" title="add to cart"> Add to cart </a></h4>
						<div class="actionList">
							<a class="pull-left" href="#">Add to Wish List </a> 
							<a class="pull-left" href="#"> Add to Compare </a>
						</div> 
						<br class="clr">
					</div>
				</div>
				</li>
			  {% endfor %}	
			</ul>
		</div>
		
	
	</div>
	</div>
	</div>

{% endblock content %}