{% extends 'base.html' %}
{% load static %}
{% block title %} Ro'yhatdan o'tish {% endblock title %}
{% block content %}

<div class="row">
	<div id="sidebar" class="span3">
	<div class="well well-small">
		<ul class="nav nav-list">
			{% for j in janrlar %}
			<li {% if janr.slug == j.slug %} class="selected" {% endif %}>
				<a href="{{ j.get_absolute_url }}"><span class="icon-chevron-right"></span>{{ j.name }}</a>
			</li>
			{% endfor %}
	
			<li style="border:0"> &nbsp;</li>
			<li> <a class="totalInCart" href="{% url 'cart_detail' %}"><strong>Jami savatchada  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
		</ul>
	</div>

			  <div class="well well-small alert alert-warning cntr">
				  <h2>50% chegirma</h2>
				  <p> 
					 faqat online harid uchun. <br><br><a class="defaultBtn" href="#">Bu erga bosing </a>
				  </p>
			  </div>
			  <div class="well well-small" ><a href="#"><img src="{% static 'assets/img/paypal.jpg' %}" alt="payment method paypal"></a></div>
			
			<a class="shopBtn btn-block" href="{% url 'products_page' %}">Yangi kitoblar <br><small>Ko'rish uchun bosing</small></a>
			<br>
			<br>		
		

	</div>

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'home' %}">Bosh sahifa</a> <span class="divider">/</span></li>
		<li class="active">Registratsiya</li>
    </ul>
	<h3> Registratsiya</h3>	
	<hr class="soft"/>
	<div class="well">
	<form class="form-horizontal" method="post">
		{% csrf_token %}
		<h3>Shaxsiy ma'lumotlar</h3>
		<div class="control-group">
		<label class="control-label">Jinsingiz <sup>*</sup></label>
		<div class="controls">
			{{ form_r.title }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFname"> Ismingiz <sup>*</sup></label>
			<div class="controls">
			  {{ form_r.first_name }}
			  <!-- <input type="text" id="inputFname" placeholder="First Name"> -->
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="inputLname">Familiyangiz <sup>*</sup></label>
			<div class="controls">
			    {{ form_r.last_name }}
			    <!-- <input type="text" id="inputLname" placeholder="Last Name"> -->
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="inputEmail">Email <sup>*</sup></label>
		<div class="controls">
			{{ form_r.email }}
			<!-- <input type="text" placeholder="Email"> -->
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Parol tanlang <sup>*</sup></label>
		<div class="controls">
			{{ form_r.password1 }}
			<!-- <input type="password" placeholder="Password"> -->
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label">Parolni qayta kiriting <sup>*</sup></label>
		<div class="controls">
			{{ form_r.password2 }}
			<!-- <input type="password" placeholder="Confirm Password"> -->
		</div>
	  </div>	  
	  <div class="control-group">
		<label class="control-label" for="inputEmail">Karta raqami <sup>*</sup></label>
		<div class="controls">
			{{ form_r.card_number }}
			<!-- <input type="text" placeholder="Email"> -->
		</div>
	  </div>
		<!-- <div class="control-group">
		<label class="control-label">Date of Birth <sup>*</sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
		</div>
	  </div> -->
	<div class="control-group">
		<div class="controls">
		 <input type="submit" name="submitAccount" value="Registratsiya" class="exclusive shopBtn">
		</div>
	</div>
	</form>
</div>


{% endblock content %}